<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.transferbigfiles">
          <application>
            <!-- Used for transferring files  after a successful connection -->
            <service android:enabled="true" android:name=".FileTransferService" />
            <service android:enabled="true" android:name=".MessageTransferService" />
        </application>
</manifest>
